.nav {
  margin-top: 1rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;

  .nav-link {
    padding: 1rem 0.5rem;
    flex-grow: 1;

    i {
      margin-right: .5rem;
    }
  }
}

.npm-router-outlet {
  padding: 1rem;
}
