<mat-list >

  <mat-list-item *ngFor="let item of items$ | async">

    <div class="nmp-mat-list-row">

      <div class="nmp-mat-list-block nmp-mat-list-block--icons">
        <mat-icon *ngIf="'arrive'==item.val.reminderTypeSelect">south_west</mat-icon>
        <mat-icon *ngIf="'depart'==item.val.reminderTypeSelect">north_east</mat-icon>
      </div>

      <div class="nmp-mat-list-block nmp-mat-list-block--text">
        {{ item.val.reminderText }}
      </div>

      <div class="nmp-mat-list-block nmp-mat-list-block--button">
        <button mat-raised-button (click)="moveItem(item)">
          <mat-icon>undo</mat-icon>
        </button>
      </div>

    </div><!-- .nmp-mat-list-row -->

  </mat-list-item>

</mat-list>
