.list-group {
  .list-group-item {
    display: flex;
    justify-content: space-between;
    padding: .5rem;

    .list-group-item--icon {
      font-size: 2.4rem
    }

    .list-group-item--text {
      flex-grow: 1;
      word-break: break-all;
      margin: 0 .5rem;
    }

    .list-group-item--button {
      //
    }
  }
}
