<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of items$ | async">
    <div class="list-group-item--icon">
      <i *ngIf="'arrive'==item.val.reminderTypeSelect" class="fas fa-external-link-square-alt fa-rotate-180"></i>
      <i *ngIf="'depart'==item.val.reminderTypeSelect" class="fas fa-external-link-square-alt"></i>
    </div>
    <div class="list-group-item--text">
      {{ item.val.reminderText }}
    </div>
    <div class="list-group-item--button">
      <button class="btn btn-primary" (click)="moveItem(item)">
        <i class="fas fa-redo-alt"></i>
      </button>
    </div>
  </li>
</ul>
