<h1>Create reminder:</h1>
<mat-horizontal-stepper>
  <mat-step state="when">
    <mat-card>
      <mat-card-title>
        Remind me...
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="reminderTypeGroup">
          <mat-radio-group [formControlName]="'reminderTypeSelect'">
            <mat-radio-button value="depart">
              when I leave here
            </mat-radio-button>
            <mat-radio-button value="arrive">
              when I come back here
            </mat-radio-button>
          </mat-radio-group>
        </form>
      </mat-card-content>
      <mat-card-footer>
        <button [disabled]="!reminderTypeGroup.valid"
                mat-raised-button matStepperNext>Next
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-step>
  <mat-step state="what">
    <mat-card>
      <mat-card-title>
        Reminder...
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="reminderTextGroup">
          <mat-form-field>
          <textarea matInput
                    cdkTextareaAutosize
                    [formControlName]="'reminderText'"
                    mat-autosize="true"></textarea>
            <mat-hint *ngIf="!reminderTextGroup.valid">type here...</mat-hint>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-footer>
        <button isRoundButton="true" mat-raised-button matStepperPrevious>Wait, go back</button>
        <button [disabled]="!reminderTextGroup.valid"
                mat-raised-button (click)="setReminder()">Let's go!</button>
      </mat-card-footer>
    </mat-card>
  </mat-step>
</mat-horizontal-stepper>
