<!-- stepper -->
<mat-horizontal-stepper>
  <!-- step 1 -->
  <mat-step state="reminderType" content="reminderType">
    <mat-card>
      <mat-card-title>
        Remind me when...
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="reminderTypeGroup">
          <mat-radio-group [formControlName]="'reminderTypeSelect'">
            <mat-radio-button value="depart">
              when I leave here
            </mat-radio-button>
            <mat-radio-button value="arrive">
              when I come back here
            </mat-radio-button>
          </mat-radio-group>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="!reminderTypeGroup.valid"
                mat-raised-button
                color="primary"
                matStepperNext>
          Next
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>
  <!-- step 2 -->
  <mat-step state="reminderText">
    <mat-card>
      <mat-card-title>
        Remind me about...
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="reminderTextGroup">
          <mat-form-field>
          <textarea matInput
                    cdkTextareaAutosize
                    [formControlName]="'reminderText'"
                    mat-autosize="true"></textarea>
            <mat-hint *ngIf="!reminderTextGroup.valid">type here...</mat-hint>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button isRoundButton="true" mat-raised-button matStepperPrevious>Wait, go back</button>
        <button [disabled]="!reminderTextGroup.valid"
                mat-raised-button
                color="primary"
                (click)="setReminder()">
          Let's go!
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>
</mat-horizontal-stepper>
