<form [formGroup]="reminderGroup" autocomplete="off">

  <div class="form-group">
    <label for="reminderText">What's the reminder?</label>
    <input [formControlName]="'reminderText'"
           #reminderTextInput
           placeholder="Type something here..."
           type="text" class="form-control" id="reminderText">
  </div>

  <div class="form-group">
    <div class="form-check">
      <input [formControlName]="'reminderTypeSelect'"
             class="form-check-input" type="radio" name="reminderTypeSelect" id="reminderTypeSelect1" value="depart">
      <label class="form-check-label" for="reminderTypeSelect1">
        When I leave here
      </label>
    </div>
    <div class="form-check">
      <input [formControlName]="'reminderTypeSelect'"class="form-check-input" type="radio" name="reminderTypeSelect" id="reminderTypeSelect2" value="arrive">
      <label class="form-check-label" for="reminderTypeSelect2">
        When I arrive here
      </label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg"
          [disabled]="reminderGroup.invalid"
          (click)="setReminder()">Send it!
  </button>

</form>
