mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 1em;

  mat-radio-button {
    margin: 0.5em 0;
  }
}

mat-form-field {
  textarea {
    width: 100%;
  }
}

mat-card-footer {
  margin: 1em 0;
  display: flex;

  button {
    margin-right: 1em;
  }
}
