@import './app/vendor/angular-material.module.scss';

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}

html {
  font-family: 'Roboto';
}

body {
  padding: 1em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
